<!-- <div class="container">
    <div class="content">
        <div class="content-container">
            <div class="py-5" style="min-height:40px !important;padding-bottom: 0  !important;">
                <div class="output" id="output">
                    <h3 class="cursor">Hệ Thống Mini Game GachThe1s.Com</h3>
                    <h4>Uy Tín - Nhanh Gọn - Tự Động 24/7 !</h4>
                </div>
            </div>
            <div class="row m-4">

                <div class="col text-center">

                    <a class="btn btn-info font-weight-bold text-uppercase" data-toggle="collapse" href="#batnhac"
                        role="button" aria-expanded="true" aria-controls="batnhac">

                        Hướng dẫn chơi </a>

                </div>

            </div>
            <div class="row collapse " id="batnhac">

                <div class="col-lg-12">

                    <div class="card border-info">

                        <div class="card-header bg-info text-light border-seccond text-center font-weight-bold"><span
                                class="fas fa-comments"></span> Hướng dẫn chơi</div>

                        <div class="card-body text-seccond">

                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Jyelxq2BZRQ" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen=""></iframe>

                        </div>

                    </div>

                </div>

            </div>


            <div class="text-center mt-5">
                <div class="btn-group btn-group-lg" role="group" aria-label="..." id="btn-type">
                    <button class="btn btn-primary" server-action="change" server-id="1000" server-rate="1000"> Chẵn lẻ
                    </button>
                   
                    <button class="btn btn-default" server-action="change" server-id="2" server-rate="1"> Nhân 3
                    </button>
                    <button class="btn btn-default" server-action="change" server-id="5" server-rate="1"> Chẵn Lẻ 2
                    </button>
                </div>
            </div>
            <div class="row justify-content-md-center box-cl" style="margin-top:  20px">
                <div class="panel panel-primary" style="width: 100%">
                    <div class="panel-heading text-center"> Cách tham gia </div>
                    <div class="panel-body text-center">
                        <div class="row justify-content-md-center box-cl">
                            <div class="col-md-6 mt-3 text-center cl">
                                <div class="panel">
                                    <div class="panel-body text-center" style="padding-top: 0px;">
                                        <p class="danger-text"> Chuyển vào tài khoản GachThe1s.Com sau: </p>
                                        <div class="table-responsive">
                                            <table
                                                class="table table-striped table-bordered table-hover text-center mb-0">
                                                <thead>
                                                    <tr role="row" class="bg-primary">
                                                        <th class="text-center text-white">Tên Tài Khoản</th>
                                                        <th class="text-center text-white">Đặt tối thiểu</th>
                                                        <th class="text-center text-white">Đặt tối đa</th>
                                                    </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all"
                                                    id="result-table" class="">
                                                    <tr>
                                                        <td>
                                                            <b>0973350299</b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('0973350299')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <b>10.000</b>
                                                        </td>
                                                        <td>
                                                            <b>2.000.000</b>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-left" style="margin-top: 30px;">


                                            - Ví dụ chữ số cuối mã giao dịch:
                                            <ul>
                                                <li>
                                                    T61220F543675<span class="text-danger">6</span>: kết quả số <span
                                                        class="text-danger">6</span>
                                                </li>
                                                <li>
                                                    T6123A4B17C9<span class="text-danger">3</span>A: kết quả số <span
                                                        class="text-danger">3</span>
                                                </li>
                                            </ul>
                                            <br>
                                            <p>Nếu khách có TSR vui lòng đăng ký Tk GachThe1s.Com sau đó nạp tiền từ TSR
                                                qua <b style="color:blue;">GachThe1s.Com</b> để chơi</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 cl">
                                <div class="panel">
                                    <p class="danger-text"> Lấy kết quả là số cuối mã giao dịch GachThe1s.Com</p>
                                    <div class="turn active" turn-tab="1000">

                                        <style>
                                            .mb-0 {
                                                margin-bottom: 0;
                                            }
                                        </style>
                                        <script>
                                            function copyStringToClipboard(str) {
                                                var el = document.createElement('textarea');
                                                el.value = str;
                                                el.setAttribute('readonly', '');
                                                el.style = {
                                                    position: 'absolute',
                                                    left: '-9999px'
                                                };
                                                document.body.appendChild(el);
                                                el.select();
                                                document.execCommand('copy');
                                                document.body.removeChild(el);


                                                alert("Đã sao chép '" + str + "' vào bộ nhớ");
                                            }
                                        </script>

                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover text-center">
                                                <thead>
                                                    <tr role="row" class="bg-primary">
                                                        <th class="text-center text-white">Nội dung</th>
                                                        <th class="text-center text-white">Số</th>
                                                        <th class="text-center text-white">Vàng nhận</th>
                                                    </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all"
                                                    id="result-table" class="">
                                                    <tr>
                                                        <td>
                                                            <b>
                                                                C_<%-data.name%> </b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('C_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td><code>2</code> - <code>4</code> - <code>6</code> -
                                                            <code>8</code>
                                                        </td>
                                                        <td><b>x2.3 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>
                                                                L_<%-data.name%> </b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('L_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td> <code>1</code> - <code>3</code> - <code>5</code> -
                                                            <code>7</code>
                                                        </td>
                                                        <td><b>x2.3 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alert alert-danger text-left" style="margin-top: 20px">
                                            <p>- Nội dung chuyển tiền là <b>C_<%-data.name%></b> hoặc <b>L_<%-data.name%>
                                                </b>.</p>
                                            <p>- Thắng sẽ nhận x2.3 tiền cược x<%-tile%>.</p>
                                            <p>- Kim cương và VIP cũng sẽ được cộng tính theo số tiền bạn thắng. </p>
                                            <p>- Gửi sai nội dung <b>KHÔNG</b> hỗ trợ hoàn lại.</p>
                                        </div>
                                    </div>
                                    <div class="turn" turn-tab="1">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover text-center">
                                                <thead>
                                                    <tr role="row" class="bg-primary">
                                                        <th class="text-center text-white">Nội dung</th>
                                                        <th class="text-center text-white">Số</th>
                                                        <th class="text-center text-white">Vàng nhận</th>
                                                    </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all"
                                                    id="result-table" class="">
                                                    <tr>
                                                        <td>
                                                            <b>T_<%-data.name%></b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('T_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td><code>5</code> - <code>6</code> - <code>7</code> -
                                                            <code>8</code>
                                                        </td>
                                                        <td><b>x2.3 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>X_<%-data.name%></b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('X_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td><code>1</code> - <code>2</code> - <code>3</code> -
                                                            <code>4</code>
                                                        </td>
                                                        <td>
                                                            <b>x2.3 tiền chuyển * <%-tile%></b>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alert alert-danger text-left" style="margin-top: 20px">
                                            <p>- Nội dung chuyển tiền là <b>T_<%-data.name%></b> hoặc <b>X_<%-data.name%>
                                                </b>.</p>
                                            <p>- Thắng sẽ nhận x2.3 tiền cược x<%-tile%>.</p>
                                            <p>- Kim cương và VIP cũng sẽ được cộng tính theo số tiền bạn thắng. </p>
                                            <p>- Gửi sai nội dung <b>KHÔNG</b> hỗ trợ hoàn lại.</p>
                                        </div>

                                    </div>
                                    <div class="turn" turn-tab="2">

                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover text-center">
                                                <thead>
                                                    <tr role="row" class="bg-primary">
                                                        <th class="text-center text-white">Nội dung</th>
                                                        <th class="text-center text-white">Số</th>
                                                        <th class="text-center text-white">Vàng nhận</th>
                                                    </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all"
                                                    id="result-table" class="">
                                                    <tr>
                                                        <td>
                                                            <b>N1_<%-data.name%></b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('N1_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td><code>1</code> - <code>2</code> - <code>3</code></td>
                                                        <td><b>x3 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>N2_<%-data.name%></b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('N2_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td><code>4</code> - <code>5</code> - <code>6</code> </td>
                                                        <td><b>x3 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>N3_<%-data.name%></b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('N3_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td><code>7</code> - <code>8</code> - <code>9</code></td>
                                                        <td><b>x3 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alert alert-danger text-left" style="margin-top: 20px">
                                            <p>- Nội dung chuyển tiền là <b>N1_<%-data.name%></b> hoặc <b>N2_<%-data.name%>
                                                </b> hoặc
                                                <b>N3_<%-data.name%></b>.
                                            </p>
                                            <p>- Thắng sẽ nhận x3 tiền cược x<%-tile%>.</p>
                                            <p>- Kim cương và VIP cũng sẽ được cộng tính theo số tiền bạn thắng. </p>
                                            <p>- Gửi sai nội dung <b>KHÔNG</b> hỗ trợ hoàn lại.</p>
                                        </div>
                                    </div>
                                    <div class="turn" turn-tab="5">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover text-center">
                                                <thead>
                                                    <tr role="row" class="bg-primary">
                                                        <th class="text-center text-white">Nội dung</th>
                                                        <th class="text-center text-white">Số</th>
                                                        <th class="text-center text-white">Vàng nhận</th>
                                                    </tr>
                                                </thead>
                                                <tbody role="alert" aria-live="polite" aria-relevant="all"
                                                    id="result-table" class="">
                                                    <tr>
                                                        <td><b>
                                                                C2_<%-data.name%> </b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('C2_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td> <code>0</code> - <code>2</code> - <code>4</code> -
                                                            <code>6</code> - <code>8</code>
                                                        </td>
                                                        <td><b>x1.9 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>
                                                                L2_<%-data.name%> </b>
                                                            <span class="label label-success text-uppercase"
                                                                onclick="copyStringToClipboard('L2_<%-data.name%>')">
                                                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                            </span>
                                                        </td>
                                                        <td> <code>1</code> - <code>3</code> - <code>5</code> -
                                                            <code>7</code> - <code>9</code>
                                                        </td>
                                                        <td><b>x1.9 tiền chuyển * <%-tile%></b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alert alert-danger text-left" style="margin-top: 20px">
                                            <p>- Nội dung chuyển tiền là <b>C2_<%-data.name%></b> hoặc <b>L2_<%-data.name%>
                                                </b>.</p>
                                            <p>- Thắng sẽ nhận x1.9 tiền cược x<%-tile%>.</p>
                                            <p>- Kim cương và VIP cũng sẽ được cộng tính theo số tiền bạn thắng. </p>
                                            <p>- Gửi sai nội dung <b>KHÔNG</b> hỗ trợ hoàn lại.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                    <div class="text-center mb-3">
                        <h3 class="text-uppercase">Lịch sử tham gia</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover text-center">
                            <thead>
                                <tr role="row" class="bg-primary">
                                    <th class="text-center text-white">Khách hàng</th>
                                    <th class="text-center text-white">Server</th>
                                    <th class="text-center text-white">Tiền đặt</th>

                                    <th class="text-center text-white">Số vàng thắng</th>
                                    <th class="text-center text-white">Nội dung</th>
                                    <th class="text-center text-white">Trạng thái</th>
                                </tr>
                            </thead>
                            <style>
                                #lsgd-GachThe1s td {
                                    white-space: nowrap;
                                    padding: 7px;
                                }
                            </style>
                            <tbody role="alert" aria-live="polite" aria-relevant="all" id="lsgd-GachThe1s">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col text-dark" id="darkMode7">
                    <label>Hiện thị:</label>
                    <select id="isMe" class="form-control">
                        <option value="0">Tất cả</option>
                        <option value="1">Mình tôi</option>
                    </select>
                </div>
                <div class="col offset-lg-8 col text-dark" id="darkMode6">
                    <label>Bản ghi:</label>
                    <select id="record" class="form-control">
                        <option value="10">10 bản ghi</option>
                        <option value="20">20 bản ghi</option>
                        <option value="30">30 bản ghi</option>
                        <option value="50">50 bản ghi</option>
                        <option value="100">100 bản ghi</option>
                    </select>
                </div>
            </div>
            <hr style="margin-top: 15px; margin-bottom: 15px;">
        </div>
    </div>
</div>

<style>
    .tb_button {
        padding: 1px;
        cursor: pointer;
        border-right: 1px solid #8b8b8b;
        border-left: 1px solid #FFF;
        border-bottom: 1px solid #fff;
    }

    .tb_button.hover {
        borer: 2px outset #def;
        background-color: #f8f8f8 !important;
    }

    .ws_toolbar {
        z-index: 100000
    }

    .ws_toolbar .ws_tb_btn {
        cursor: pointer;
        border: 1px solid #555;
        padding: 3px
    }

    .tb_highlight {
        background-color: yellow
    }

    .tb_hide {
        visibility: hidden
    }

    .ws_toolbar img {
        padding: 2px;
        margin: 0px
    }
</style>
<style type="text/css">
    .panel-heading {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }

    @media (min-width: 768px) {
        .box-cl .cl {
            flex: 1;
        }

        .box-cl {
            display: flex;
        }
    }

    .output {
        text-align: center;
        color: #6d2f0f;
    }

    .box-cl .panel {
        margin-bottom: 0
    }

    .box-cl .panel-body {
        padding-bottom: 0
    }

    .dot-text-chan {
        color: #f0ad4e
    }

    .dot-text-le {
        color: #5bc0de
    }

    .dot-text-tai {
        color: #5cb85c
    }

    .dot-text-xiu {
        color: #d9534f
    }

    .fa-stack {
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
    }

    .fa-stack-2x {
        font-size: 2em;
    }

    .fa-stack-1x,
    .fa-stack-2x {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .btn-lg,
    .btn-group-lg>.btn {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }

    .btn-group-lg .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    .btn-group-lg .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        white-space: nowrap;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .btn-group-lg .btn-primary:hover,
    .btn-group-lg .btn-primary:focus,
    .btn-group-lg .btn-primary:active,
    .btn-group-lg .btn-primary.active,
    .btn-group-lg .open .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #ad4105 !important;
        border-color: #a82315 !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #e28637;
        border-color: #e28637;
    }

    .turn,
    .bot {
        display: none;
    }

    .bg-primary {}

    .turn.active,
    .bot.active {
        display: block;
    }

    .panel-primary>.panel-heading {
        color: #fff;
        background-color: #17a2b7;
        border-color: #17a2b7;
    }

    .panel-heading {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-body {
        padding: 15px;
    }

    .form-copy button {
        padding-top: 8px;
        width: 10%;
        clear: both;
        border: none;
    }

    .form-copy {
        background: #eee;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .form-copy input {
        width: 90%;
        float: left;
        border: none !important;
        border-radius: 0px !important;
    }

    .panel-primary {
        border: 1px solid #337ab7;
    }

    .label {
        display: inline;
        padding: 0.2em 0.6em 0.3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25em;
    }

    .label-success {
        background-color: #5cb85c;
    }

    .fa,
    .fas {
        font-size: 16px;
        font-weight: 900;
    }

    .fa-stack-1x,
    .fa-stack-2x {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .fa-stack-2x {
        font-size: 2em;
    }

    .danger-text {
        color: #b24d53;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .bg-primary {
        background-color: #17a2b7 !important;
    }
</style>
<script>
    $("#thongbao").click();

    window.addEventListener('DOMContentLoaded', (event) => {
        $('[data-toggle="tooltip"]').tooltip();
        $('.cash-format').each(function (index) {
            $(this).html(parseInt($(this).text()).toLocaleString('it-IT', {
                style: 'currency',
                currency: 'VND'
            }).replace('VND', ''));
        });
        $('button[server-action=change]').click(function () {
            let button = $(this);
            let id = button.attr('server-id');
            selection_server = id;
            selection_rate = button.attr('server-rate');
            $('.turn').removeClass('active');
            $(`.turn[turn-tab=${id}]`).addClass('active');
            $('button[server-action=change]').attr('class', 'btn btn-default');
            button.attr('class', 'btn btn-primary');
        });
        $('button[server-id=1000]').click();
    });
</script>
<script type="text/javascript">
    function onchangeType(select) {
        select.parent().find("input").val("fda");
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-copy').click(function () {
            content = $(this).attr("data-copy");

            copyToClipboard(content);

            alert("Đã sao chép '" + content + "' vào bộ nhớ");

        });

        $('#modalThongBao').modal('show');
        //alert("Đã sao chép '" + content + "' vào bộ nhớ");
    });






    function copyToClipboard(text) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
    }

    $('#type').on('change', function () {

        name = '<%-data.name%>';
        type = $('#type').val();

        $("#transfer_content").val(type + "_" + name);
        $("#transfer_content_value").attr('data-copy', type + "_" + name);


    });

    $("#btn-type button").on('click', function () {
        name = '<%-data.name%>';

        server_id = $(this).attr("server-id");
        $("#type option:selected").removeAttr('selected');
        $("#type option").removeClass('hidden');
        $("#type option").addClass('hidden');

        $("#type").trigger("change");
        if (server_id == 1000) {

            $("[data-id = 1]").removeClass('hidden');
            $("[data-id = 2]").removeClass('hidden');

            $("#type").val($("[data-id = 1]").val());

            $("#transfer_content").val($("[data-id = 1]").val() + "_" + name);

            $("#transfer_content_value").attr('data-copy', $("[data-id = 1]").val() + "_" + name);


        }
        if (server_id == 1) {

            $("[data-id = 3]").removeClass('hidden');
            $("[data-id = 4]").removeClass('hidden');

            $("#type").val($("[data-id = 3]").val());

            $("#transfer_content").val($("[data-id = 3]").val() + "_" + name);
            $("#transfer_content_value").attr('data-copy', $("[data-id = 3]").val() + "_" + name);

        }
        if (server_id == 2) {


            $("[data-id = 5]").removeClass('hidden');
            $("[data-id = 6]").removeClass('hidden');
            $("[data-id = 7]").removeClass('hidden');

            $("#type").val($("[data-id = 5]").val());

            $("#transfer_content").val($("[data-id = 5]").val() + "_" + name);
            $("#transfer_content_value").attr('data-copy', $("[data-id = 5]").val() + "_" + name);

        }
        if (server_id == 5) {

            $("[data-id = 8]").removeClass('hidden');
            $("[data-id = 9]").removeClass('hidden');


            $("#type").val($("[data-id = 8]").val());

            $("#transfer_content").val($("[data-id = 8]").val() + "_" + name);
            $("#transfer_content_value").attr('data-copy', $("[data-id = 8]").val() + "_" + name);
        }

        console.log($("#transfer_content").val());
    });

    $("span[data-action=phan-thuong]").click((e) => {
        $("#modalGift").modal("show");
    });
</script>
<script type="text/javascript">
    var lsgd_GachThe1s = document.getElementById("lsgd-GachThe1s");


    setInterval(function () {
        getData();


    }, 3000);

    var isMe = document.getElementById("isMe");
    var record = document.getElementById("record");
    isMe.addEventListener("change", function () {
        getData();
    });

    record.addEventListener("change", function () {
        getData();
    });
    getData();
    function getData() {

        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'user/gt1s.exe', true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                var htmlTB = "";
                JSON.parse(xhr.responseText).forEach(element => {
                    htmlTB += `<tr>
                                    <td>`+element.name+`</td>
                                    <td>`+ element.server + `</td>
                                    <td>`+ numberWithCommas(element.sotien) + `</td>
                                    <td>`+ numberWithCommas(element.vangthang) + `</td>
                                
                                    <td><span class="badge badge-warning">`+ element.noidung + `</span></td>
                                    <td><span class="badge badge-`+ (element.status == 1 ? "success" : "danger") + `">` +(element.status == 1 ? "Thắng" : "Thua") + `</span></td>
                                </tr>`
                });
                document.getElementById("lsgd-GachThe1s").innerHTML = htmlTB;
            }
        }
        xhr.send("count=" + record.value + "&me=" + isMe.value);

    }

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }


</script> -->